<div class="reserve-product-form-wrapper">
  <h2>{{ block.settings.form_title }}</h2>

  {% if block.settings.form_description != blank %}
    {{ block.settings.form_description }}
  {% endif %}
  {% form 'contact', class: 'reserve-product-form' %}
    <div class="form-field">
      <label for="practice_name">Practice name</label>
      <input type="text" id="practice_name" name="contact[practice_name]" required>
    </div>
    
    <div class="form-field">
      <label for="zip_code">Practice ZIP/Postal Code</label>
      <input type="text" id="zip_code" name="contact[zip_code]" pattern="[0-9]{5}" title="Please enter a valid 5-digit zip code" required>
    </div>
    
    <div class="form-field">
      <label for="email">Contact email</label>
      <input type="email" id="email" name="contact[email]" required>
    </div>
    
    <div class="form-field">
      <label for="role">Role</label>
      <select id="role" name="contact[role]" required>
        <option value="" disabled selected>&ndash;&nbsp;Select your role&nbsp;&ndash;</option>
        <option value="doctor">Doctor</option>
        <option value="nurse">Nurse</option>
        <option value="administrator">Administrator</option>
        <option value="receptionist">Receptionist</option>
        <option value="other">Other</option>
      </select>
    </div>
    
    <div class="form-field">
      <button type="submit" class="submit-button">{{ block.settings.submit_button_text }}</button>
    </div>
  {% endform %}
</div>

{% schema %}
  {
    "name": "Reserve Product Form",
    "target": "section",
    "stylesheet": "reserve-product.css",
    "javascript": "reserve-product.js",
    "settings": [
      {
        "type": "text",
        "id": "form_title",
        "label": "Form Title",
        "default": "Reserve Product"
      },
      {
        "type": "richtext",
        "id": "form_description",
        "label": "Form Description",
        "default": "<p>Reserve this package by filling out the form below. We will place a no-cost hold for <strong>2 business days</strong>. During that time, please work with an <a href='' title='A-dec 511R Dental Chair Package'>A-dec Territory Manager or Dealer</a> to complete the sale.</p>"
      },
      {
        "type": "text",
        "id": "submit_button_text",
        "label": "Submit Button Text",
        "default": "Reserve package"
      }
    ]
  }
{% endschema %}