.reserve-product-form-wrapper {
    .price {
        display: flex;
        align-items: center;
        .price-freight {
            font-size: 16px;
        }
    }
}

.reserve-product-form {
    margin: 0 auto;
    /* color: #003B5C; */
    .form-field.is-required label:after {
        content: "*";
        color: inherit;
    }
}

.reserve-product-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-field {
    margin-bottom: 15px;
}

.form-field label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: 600;
}

.form-field input,
.form-field select {
    width: 100%;
    padding: 10px;
    border: 1px solid #12121214;
    border-radius: 4px;
    font-size: 16px;
}

.form-field option:disabled {
    color: #12121261;
}

.submit-button {
    background-color: #0072CE;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}